#box>div {
    display: inline-block;
    font-size: 4em;
    font-style: italic;
    text-align: center;
    color: darkblue;
    width: 1em;
    margin-top: 0.1em;
    margin-left: 0.05em;
}

#box {
    
    width: 15em;
    height: 5em;
    border-color: goldenrod;
    border-style: solid;
    background-color: linen;
}

#result {
    color: coral;
    font-size: 2em;
    font-style: italic;
}