h1 {
    text-align: center;
    color: yellow;
    text-shadow: 3px 3px 3px blue;
}

img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid;
    border-color: darkgray;
}

img:hover {
    box-shadow: 0px 0px 10px blue;
}

body {
    background: aliceblue;
}